{% extends  'base.html' %}

{% block head %}
<style>
    *{
    margin:0;
    }
    body
    {
    background-color:grey;
    }
    .content{
    margin-left:500px;
    }
    #myform{
    margin-left:500px;
    }
    #submit{
        background-color:#3366ff;
        color:white;
        width:100px;
        height:40px;
        border-radius:20px;

    }
    .content table{
    border-color:black;
    border-collapse:collapse;
    }
    #content{
        border-color:#3366ff;
    }
    .content table a{
        text-decoration:none;
        color:#660066;
    }
</style>
{% endblock %}

{% block body %}
<div class='content'>
    <pre id="text"></pre>
    <h1>Todo App</h1><br>
    <table border="1">
        <tr>
        <th>Id</th>
        <th>Task Name</th>
        <th>Added Date</th>
        <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{task.id}}</td>
            <td>{{task.name}}</td>
            <td>{{task.date_created.date()}}</td>
            <td id="actions"><a href="/delete/{{task.id}}" >Delete</a>
                <br>
                <a href="/update/{{task.id}}" >Update</a>
            </td>

        </tr>
        {% endfor %}
    </table>
</div><br>
<form action="/" name="myform" id="myform" method="POST" onsubmit="return validate()">
    <input type="text" name="content" id="content">
    <input type="submit" value="Add Task" id="submit" >
</form>
</div>
<script>
    var x= document.forms['myform']['content'].value;
    if(x == ""){
        document.getElementById('submit').addEventListener('click',function(e){e.preventDefault()})
    }
    function validate(){
    if(x=="")
    {
    
    window.alert("Please Enter a valid task");
    return False;
    } 
    }
    //function to check the null safety of input
    


</script>
{% endblock %}