
{% extends  'base.html' %}

{% block head %}
<title>Task Master </title>
<style>
    *{
    margin:0;
    }
    body{
    background-color:lightblue;
    }
    .content{
    margin-left:500px;
    }
    #submit{
        width:100px;
        height:40px;
        border-radius:20px;
        background-color:#5672c7;
        color:white;
    }
    #content{
        border-radius: 10px;
        height: 30px;
        border-color:#3366ff;
    }
</style>
{% endblock %}

{% block body %}
<div class='content'>
    <h1>Update Task</h1><br>
    <div id="form">
    <form action="/update/{{task.id}}" method="POST">
        <input type="text" name="content" id="content" value="{{task.name}}" required>
        <input type="submit" value="Update Task" id="submit">
    </form>
    </div>
</div>
{% endblock %}
